:root {
    --primary-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;
    --accent-color: #2196F3;
    --backgound-color: #2F303A;
    --background-main-color:#FFFFFF;
    --background-color-grey: #F5F4FA;
    --icon-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.link {
    text-decoration: none;
    color: inherit;
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;
  
}
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}


body {
    font-family: var(--primary-font-family);
    color: var(--secondary-text-color-theme-light);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--background-main-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/*---------------- COMPONENTS----------------- */



button {
    cursor: pointer;
}

.logo{
    font-family: var(--logo-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.logo-dark{
    color: var(--primary-text-color-theme-light);
    
}
.logo-white{
    color: var(--primary-text-color-theme-dark);
}
.section-title{
margin-bottom: 50px;

font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: var(--primary-text-color-theme-light);
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*---------------- /COMPONENTS----------------- */

/*---------------- MODAL WINDOW----------------- */
.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 300ms, visibility 300ms;
}

.modal{
    width: 528px;
    min-height: 581px;

    background-color: var(--background-main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    transition: transform 250ms var(--timing-function);

}

.modal-close-btn{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--background-main-color);

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;

}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.is-hidden >.modal{
    transform: translate(-50%, -50%) scale(0) rotate(0);
}
/*---------------- /MODAL WINDOW----------------- */

/* --------HEADER------------- */
   
.main-nav {
    display: flex;
}

header{
    border-bottom: 1px solid #ECECEC;
}

.site-nav> .logo{
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25px;
}



.site-nav,
.nav-list,
.header-contacts {
    display: flex;
    align-items: center;
}

.header-contacts{
    margin-left: auto;
}
.nav-list {
    margin-left: 93px;
}


.nav-list>.item:not(:last-child) {
    margin-right: 50px;
}



.header-contacts>.item:not(:last-child){
    margin-right: 50px;

 }

 .header-mail{
     display: block;
     text-align: center;
 }

 .icon-mail,
 .icon-phone {
     display: inline-block;
     margin-right: 10px;
     margin-left: auto;
     fill: currentColor;
   }

 
.menu-link{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: center;
    

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    transition: color 250ms var(--timing-function);
    
}


.nav-list{
    color: var(--primary-text-color-theme-light);
}

.menu-link:hover,
.menu-link:focus,
.active-page-menu{
color: var(--accent-color);

}

.nav-list>.item{
    position: relative;
}

.menu-link:hover::after,
.active-page-menu::after{
    position: absolute;
    content: "";
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}


/* --------/HEADER------------- */

/* --------------HERO---------------*/




.hero-title{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    width: 696px;
    min-height: 120px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    
}
.section-hero{
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;

    background-color: var(--backgound-color);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-img.jpg);
    background-size: cover;
    max-width: 1600px;
    min-height: 600px;
    background-position: center;
    
           

       
}
.container-hero{
        text-align: center;
       
}

.modal-btn{
    border-radius: 4px;
    padding: 9px 31px;
    min-width: 200px;
    min-height: 50px;
    border: 1px solid transparent;
   
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

  
}
.modal-btn:hover,
.modal-btn:focus{
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* --------------/HERO---------------*/

/*------------- BENEFITS------------- */


.benefit-list{
    display: flex;
    flex-direction: row;
}
.benefit-list >.item{
    margin-left: auto;
    
}
.benefit-list>.item:not(:last-child){
    margin-right: 30px;
}


.benefit-icon{
    height: 120px;
    width: 270px;
    background-color: var(--background-color-grey);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits-title {
    margin-bottom: 10px;
    width: 270px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-about{
    padding-top: 0;
}

.about-foto{
    display: block;
}

.about-title{
    position: absolute;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color:var(--primary-text-color-theme-dark);
    background: rgba(47, 48, 58, 0.8);

    
}

.about-wrap{
    position: relative;
}

/*------------- /BENEFITS------------- */

/*------------------ OUR TEAM---------------- */
.employees-list{
display: flex;
width: 270px;
text-align: center;
}
.employees-list >.item{
padding-bottom: 30px;

background-color: var(--background-main-color);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employees-list .item:not(:last-child){
    margin-right: 30px;
    
}

.team-foto{
    margin-bottom: 30px;
}
.employees-name{
    margin-bottom: 10px;

    font-weight: 500;
    color: var(--primary-text-color-theme-light);
}
.employees-position,
.employees-name{
    font-size: 16px;
    line-height: 1.19;
}

.employees-position{
    margin-bottom: 16px;
}
.block-employees{
    background-color: var(--background-color-grey);

}

.employees-soc-list {
    display: flex;
    justify-content: center;
    border: none;
}
.soc-item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
  
    
}
.soc-item:last-child{
    margin-right: 0;
}


.employees-soc-link{
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    fill: var(--icon-color);
    transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
    
}

.employees-soc-link:hover,
.employees-soc-link:focus{
    fill: var(--background-main-color);
    background-color: var(--accent-color);
}

.button-icon:hover,
.button-icon:focus{
    fill:var(--background-main-color);
    background-color: var(--accent-color);
}

/*------------------ /OUR TEAM---------------- */



/*--------------------CLIENTS------------------*/

.block-clients {
    display: flex;

}

.block-clients>.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    /* border: 1px solid var(--icon-color);
    border-radius: 4px; */
    background-color: var(--background-main-color);
    padding: 0;
    fill: var(--icon-color);
    
}


.client-link{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    outline: transparent;

    fill: var(--icon-color);
    transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);
    
}

.client-link:hover,
.client-link:focus{
    fill: var(--accent-color);
    border-color: var(--accent-color);
}



/*--------------------/CLIENTS------------------*/

/*-------------------- PORTFOLIO---------------------- */

.project-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.project-btn >.item:not(:last-child){
    margin-right: 8px;
}

.type-project-menu{
    display: flex;
    border-radius: 4px;
    padding: 5px 21px;
    min-width: 73px;
    min-height: 38px;
    text-align: center;
    border: 1px solid transparent;

    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    
    letter-spacing: 0.03em;
    outline: transparent;
    
    color: var(--primary-text-color-theme-light);
    background-color: var(--background-color-grey);
    transition: box-shadow 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.type-project-menu:hover,
.type-project-menu:focus,
.selected-menu{
    font-family: var(--primary-font-family);
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  
}
.case{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-light);

}
.case-type{
    font-size: 16px;
}
.case-list{
    display: flex;
    flex-wrap: wrap;
        
}

.case-list >.item{
    margin-bottom: 30px;
    margin-right: 30px;

    
}




.case-list >.item:nth-child(3n+0){
        margin-right: 0;
}

.case-list >.item:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.case-info{
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding: 20px 24px;
}

.case-foto{
    display: flex;
    
}

.case-top-text{
    position: absolute;
    top:0;
    padding: 63px 34px;
    height: 100%;
    width: 100%;

    color: var(--primary-text-color-theme-dark);
    background-color: rgba(33, 150, 243, 0.9);;

    font-size: 18px;
    line-height: 1.56;
    
    transform: translateY(101%);
    transition: transform 250ms var(--timing-function);
}
.case-top-wrap{
    position: relative;
    overflow: hidden;
}

.case-item:hover .case-top-text{
    transform: translateY(0);
}

.case-link:focus .case-top-text{
    transform: translateY(0);

}

.type-case{
    font-size: 16px;
    line-height: 1.88;
    
    color: var(--secondary-text-color-theme-light);
}

.case-link{
    display: block;
    outline: transparent;
    transition: box-shadow 250ms var(--timing-function);

}

.case-link:hover,
.case-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}



/*-------------------- /PORTFOLIO---------------------- */

/*------------FOOTER-------------*/
.footer{
    background-color: var(--backgound-color);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.footer-block{
    display: inline-block;
}


.logo-footer{
    display: block;
    margin-bottom: 20px;
}
address{
    font-style: inherit;
}

.contact-link{
   color: var(--secondary-text-color-theme-dark);
   transition: color 250ms var(--timing-function);
}

.contact-link[target="_blank"]{
color: var(--primary-text-color-theme-dark);
transition: color 250ms var(--timing-function);

}

.footer-contact{
margin-bottom: 9px;
}

.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}

.footer-list{
    display: flex;
    align-items: baseline;
}
.footer-contacts{
    width: 231px;
    margin-right: 70px;
}

.title-soc {

    margin-bottom: 20px;

    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--background-main-color);
}


.contacts-soc-link {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    fill: var(--background-main-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);
}

.contacts-soc-link:hover,
.contacts-soc-link:focus{
    background-color: var(--accent-color);
}


.contacts-soc-list {
       display: flex;
       justify-content: center;
       border: none;
}



/*------------/FOOTER-------------*/